# iOS-only pipeline for internal iOS builds

trigger:
  batch: true
  branches:
    include:
      - master

pr:
  branches:
    include:
      - master
  paths:
    exclude:
      - '*.md'

variables:
- name: IsCanary
  value: $[startsWith(variables['Build.SourceBranch'], 'refs/heads/canaries')]

jobs:
- job: macOS

  pool:
    name: Default
    demands:
    - Agent.OS -equals Darwin
    - Xamarin.iOS -equals Stable

  workspace:
    clean: all

  variables:
  - name: UnoPackageOutputPath
    value: $(Build.ArtifactStagingDirectory)
  - group: 'iOS Signing'

  strategy:
    maxParallel: 1
    matrix:
      Release_iPhone:
        BuildPlatform: iPhone

  steps:
  - script: echo "##vso[task.setvariable variable=ApplicationBuildNumber;]$(Build.BuildId)"
    displayName: 'Set Canary version'
    condition: and(succeeded(), eq(variables['IsCanary'], 'true'))

  - task: UseDotNet@2
    condition: and(succeeded(), eq(variables['IsCanary'], 'true'))
    inputs:
      packageType: 'runtime'
      version: '2.2.0'

  - task: nventiveCanaryUpdater@5
    condition: and(succeeded(), eq(variables['IsCanary'], 'true'))
    inputs:
      solution: 'src/Uno.AzureDevOps.sln'
      usePrivateFeed: false
      useNuGetOrg: true
      mergeBranch: true
      gitUserName: 'nventive DevOps'
      gitUserEmail: 'nv-devops@outlook.com'
      branchToMerge: 'master'
      nugetUpdaterVersion: '2.0.4'
      allowDowngrade: true
      packageAuthor: 'nventive'
      summaryFile: '$(UnoPackageOutputPath)/Canary.md'
      resultFile: '$(UnoPackageOutputPath)/update_result.json'
      additionalPublicSources: https://pkgs.dev.azure.com/uno-platform/1dd81cbd-cb35-41de-a570-b0df3571a196/_packaging/unoplatformdev/nuget/v3/index.json

  - task: InstallAppleCertificate@2
    name: Certificate
    inputs:
      certSecureFile: 'nventive.p12'
      certPwd: $(CertificatePassword)

  - task: InstallAppleProvisioningProfile@1
    name: Profile
    inputs:
      provProfileSecureFile: 'Universal_Azure_DevOps_Organizer.mobileprovision'

  #Fixes gitversion task
  - bash: |
      shopt -s nullglob
      function join_by { local IFS="$1"; shift; echo "$*"; }
      lib_path=$(join_by ';' $(Agent.WorkFolder)/_tasks/GitVersion*/4.0.*/lib/osx)
      echo LD_LIBRARY_PATH: $lib_path
      echo "##vso[task.setvariable variable=LD_LIBRARY_PATH]$lib_path"

  - task: gittools.gitversion.gitversion-task.GitVersion@4

  - task: NuGetToolInstaller@0
    inputs:
        versionSpec: 5.3.*

  - task: NuGetCommand@2
    inputs:
      command: restore
      restoreSolution: src/Uno.AzureDevOps.sln
      feedsToUse: 'config'
      nugetConfigPath: 'src/NuGet.config'

  - powershell: ((Get-Content src/Uno.AzureDevOps/Uno.AzureDevOps.Shared/Client/ClientConstants.cs -Raw) -Replace '--production-secret--','$(ProductionSecret)' -Replace '--staging-secret--','$(StagingSecret)').Trim() | Set-Content -Path src/Uno.AzureDevOps/Uno.AzureDevOps.Shared/Client/ClientConstants.cs -Encoding UTF8
    displayName: Set client secrets

  - powershell: ((Get-Content src\Uno.AzureDevOps\Uno.AzureDevOps.Shared\Client\ClientConstants.cs -Raw) -Replace '--appcenter-secret-ios--','$(AppCenterSecretiOS)').Trim() | Set-Content -Path src\Uno.AzureDevOps\Uno.AzureDevOps.Shared\Client\ClientConstants.cs -Encoding UTF8
    displayName: Set AppCenter secret

  - task: MSBuild@1
    inputs:
      solution: src/Uno.AzureDevOps.sln
      configuration: Release
      platform: $(BuildPlatform)
      restoreNugetPackages: false

  - task: PublishBuildArtifacts@1
    inputs:
      ArtifactName: $(BuildPlatform)
      PathtoPublish: $(UnoPackageOutputPath)
      publishLocation: Container
