<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="82d129c9-82b4-4d68-96fb-95f22be36129" Publisher="CN=nventive" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="1897f84c-689e-44d3-a8b7-c521a62818ae" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Uno.AzureDevOps</DisplayName>
    <PublisherDisplayName>Uno.AzureDevOps</PublisherDisplayName>
    <Logo>Assets\LaunchIcon\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="Uno.AzureDevOps.exe" EntryPoint="uado.App">
      <uap:VisualElements DisplayName="uado" Square150x150Logo="Assets\LaunchIcon\Square150x150Logo.png" Square44x44Logo="Assets\LaunchIcon\Square44x44Logo.png" Description="Universal Azure Dev Ops" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\LaunchIcon\Wide310x150Logo.png" Square310x310Logo="Assets\LaunchIcon\LargeTile.png" Square71x71Logo="Assets\LaunchIcon\SmallTile.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\LaunchIcon\SplashScreen.png" BackgroundColor="#53c9ab" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="privateNetworkClientServer" />
  </Capabilities>
</Package>